In [0]:
data1 = [("Alice", 1), ("Bob", 2), ("Charlie", 3)]
schema1 = ["Name","Value"]
df1 = spark.createDataFrame(data1,schema1)

df1.show()

+-------+-----+
|   Name|Value|
+-------+-----+
|  Alice|    1|
|    Bob|    2|
|Charlie|    3|
+-------+-----+

In [0]:
data2 = [("Alice", "Engineer"), ("Bob", "Manager"), ("David", "Developer")]
schema2 = ["Name","Role"]
df2 = spark.createDataFrame(data2,schema2)
df2.show()

+-----+---------+
| Name|     Role|
+-----+---------+
|Alice| Engineer|
|  Bob|  Manager|
|David|Developer|
+-----+---------+

In [0]:
df3 = df1.join(df2,'Name',"right")
df3.show()

+-----+-----+---------+
| Name|Value|     Role|
+-----+-----+---------+
|Alice|    1| Engineer|
|  Bob|    2|  Manager|
|David| null|Developer|
+-----+-----+---------+

In [0]:
data = [("Alice", ["Math", "English"]), ("Bob", ["Science"]), ("Charlie", ["History", "Geography"])]
columns = ["Name", "Subjects"]
df = spark.createDataFrame(data, columns)
df.show()

+-------+--------------------+
|   Name|            Subjects|
+-------+--------------------+
|  Alice|     [Math, English]|
|    Bob|           [Science]|
|Charlie|[History, Geography]|
+-------+--------------------+

In [0]:
from pyspark.sql.functions import explode
exploded_df = df.select("Name", explode("Subjects").alias("Subject"))

# Display the exploded DataFrame
print("Exploded DataFrame:")
exploded_df.show()

Exploded DataFrame:
+-------+---------+
|   Name|    Heloo|
+-------+---------+
|  Alice|     Math|
|  Alice|  English|
|    Bob|  Science|
|Charlie|  History|
|Charlie|Geography|
+-------+---------+

In [0]:
df = spark.read.csv('dbfs:/FileStore/employees.csv',header=True,inferSchema=True)
df.show(5)
#display(df)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|  MK_REP|  6000|            - |       201|           20|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 5 rows

In [0]:
new_df = df.drop('COMMISSION_PCT')
new_df.show(5)
new_df.printSchema()

+-----------+----------+---------+--------+------------+---------+--------+------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|  MK_REP|  6000|       201|           20|
+-----------+----------+---------+--------+------------+---------+--------+------+----------+-------------+
only showing top 5 rows

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [0]:
df2 = new_df.selectExpr("*","SALARY+1000 AS NEW_SAL")
df2.show(5)

+-----------+----------+---------+--------+------------+---------+--------+------+----------+-------------+-------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|MANAGER_ID|DEPARTMENT_ID|NEW_SAL|
+-----------+----------+---------+--------+------------+---------+--------+------+----------+-------------+-------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|       124|           50|   3600|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|       124|           50|   3600|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03| AD_ASST|  4400|       101|           10|   5400|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|  MK_MAN| 13000|       100|           20|  14000|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|  MK_REP|  6000|       201|           20|   7000|
+-----------+----------+---------+--------+------------+---------+--------+------+----------+-------------+-------+
only showing top 5 rows